.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border {
  border: solid 1px #dde2e5;
  margin-top: 9rem;
  width: 26.5rem;
  height: 31rem;
  border-radius: 12px;
  justify-content: center;
}

.first-input {
  border: 1px solid #dde2e5;
  box-sizing: border-box;
  border-radius: 4px;
  width: 18.5rem;
  height: 3rem;
  padding-left: 1rem;
  margin-top: 0.75rem;
}
input:focus {
  outline: none;
}

.eye {
  padding-left: 1.25rem;
  cursor: pointer;
}
