input {
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid #e5e5e5e5;
  width: 30rem;
  padding: 1.5625rem 0 0.5rem 0;
}

.base-bg {
  background-color: #fafafa;
  height: 4.5rem;
  width: 50rem;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  /* justify-content: center; */
}
