input {
  font-size: 14px;
  font-weight: 300;
}

/* .list {
  background-color: #fafafa;
  height: 4.5rem;
  width: 33.875rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
