/* .major {
  overflow-x: hidden;
} */

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-side {
  display: flex;
}

.main {
  border: 1px solid #dfe5ec;
  border-radius: 8px;
  padding: 0 4.5rem;
  margin-bottom: 4.5rem;
  margin-top: 3.1875rem;
}

ul > li {
  color: #434343;
}

.button {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-left: 30.4375rem;
  color: white;
  width: 30rem;
}

.buttonA {
  background: #eb5757;
  height: 4rem;
  width: 12.75rem;
  border-radius: 2.5rem;
  margin-right: 2.8125rem;
}

.buttonB {
  background: #27ae60;
  height: 4rem;
  width: 12.75rem;
  border-radius: 2.5rem;
}
